<div class="container">
  <div class="login">
    <div class="login__content">
      <div class="login__content__left">
        <h1>facebook</h1>
        <h2>
          Facebook te ayuda a conectarte y compartir con las personas en tu
          vida.
        </h2>
      </div>
      <div class="login__content__right">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="form">
          <div>
            <input
              class="form-input"
              type="text"
              placeholder="Email address or phone number"
              formControlName="email"
            />
            <input
              class="form-input"
              type="password"
              placeholder="Password"
              formControlName="password"
            />
            <button type="submit" class="login-button">Iniciar sesión</button>
            <div class="forgot-account">
              <a href="">¿olvidaste tu contraseña?</a>
            </div>
          </div>

          <div>
            <div class="line"></div>
            <div class="create-button">
              <button (click)="onRegister()" class="regiser-btn">
                Crear cuenta nueva
              </button>
            </div>
          </div>
        </form>
        <p>
          <a routerLink="/auth/register">Crea una página</a> para una
          celebridad, una marca o un negocio.
        </p>
      </div>
    </div>
  </div>
</div>
