//container page
.container{
	padding: 120px;
  background: #f0f2f5;
}

// login page
.login{
	max-width: 992px;
	margin: auto;

  // content container
  &__content{
    display: flex;
	  flex-wrap: wrap;
  	justify-content: space-between;

    // content left (logo)
    &__left{
      max-width: 500px;
    	margin: auto;

      h1{
        font-size: 50px;
	      color: #1877f2;
	      margin-bottom: 20px;
	      font-weight: 900;
      }

      h2{
        font-size: 28px;
	      line-height: 32px;
	      font-weight: 500;
	      margin-bottom: 40px;
      }

      @media screen and (max-width: 992px){
      text-align: center;
      }
    }

    // content right (form)
    &__right{
      max-width: 450px;
	    margin: auto;
	    text-align: center;

      // login form
      .form{
        width: 400px;
	      height: 350px;
	      background: #fff;
	      border-radius: 7px;
	      padding: 15px;
	      margin-bottom: 30px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);

        // form's input
        .form-input{
          width: 100%;
	        height: 50px;
	        font-size: 17px;
	        border: 1px solid #ddd;
	        border-radius: 5px;
	        padding: 0 15px;
	        margin-bottom: 15px;

          &:focus{
            border-color: #1b74e4;
            box-shadow: 0 0 0 2px #e7f3ff;
            caret-color: #1b74e3;
          }
        }
      }

      // login button
      .login-button{
        width: 100%;
        height: 50px;
        font-size: 20px;
        border: 1px solid #1877f2;
        border-radius: 5px;
        padding: 0 15px;
        margin-bottom: 15px;
        background: #1877f2;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover{
          background: #166fe5;
        }
      }

      // register button
      .create-button{
        a{
	        background: #42b72a;
          font-size: 18px;
          color: #fff;
          font-weight: 500;
          height: 50px;
          border-radius: 5px;
          line-height: 50px;
          text-transform: capitalize;
          margin-bottom: 20px;
          display: inline-block;
	        padding: 0 17px;
	        transition: .3s;

          &:hover{
            background: #2f831e;
          }
        }
      }

      // forgot password
      .forgot-account{
        a{
          font-size: 14px;
          color:#1877f2;
          line-height: 19px;

          &:hover{
            text-decoration: underline;
          }
        }
      }

      // create page button a texr
      p,a{
        font-size: 14px;
      }
      p a{
        color: #1c1e21;
	      font-weight: 600;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}

// line break
.line{
  align-items: center;
  border-bottom: 1px solid #dadde1;
  display: flex;
  margin: 20px 16px;
  text-align: center;
}
